<!DOCTYPE html>
<html>
    <head>
        <title>APTITUDE TEST</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="app">
            <h1>Aptitude Test</h1>
            <div class="quiz">
                <h2 id="question">Question goes here</h2>
                <div id="answer-buttons">
                    <button class="btn">Answer 1</button>
                    <button class="btn">Answer 2</button>
                    <button class="btn">Answer 3</button>
                    <button class="btn">Answer 4</button>
                </div>
                <button id="next-btn">Next</button>
                <button id="finish" href="/form"></button>
            </div>
        </div>
        <script src="/static/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>